= turbo_frame_tag "modal" do
  = bootstrap_form_for(@animal, label_errors: true) do |f|
    .modal-header
      %h5.modal-title= "Editing #{@animal.name}"
      %button.btn-close{ type: "button", data: { "bs-dismiss": "modal" }, aria: { label: "Close" } }
    .modal-body
      = f.text_field :name
      = f.collection_select :species_id, Species.all, :id, :name
      = f.date_field :birth_date
      = f.check_box :active, switch: true
    .modal-footer
      %button.btn.btn-secondary{ type: "button", data: { "bs-dismiss": "modal" } } Close
      = f.primary 'Save'
