.modal-header
  %h5.modal-title= "#{@animal.name} Details"
  %button.btn-close{ type: "button", data: { "bs-dismiss": "modal" }, aria: { label: "Close" } }
.modal-body
  %p
    %b Name:
    = @animal.name
  %p
    %b Species:
    = @animal.species.name
  %p
    %b Birth date:
    = @animal.birth_date
  %p
    %b Active:
    = @animal.active ? 'Active' : 'Archived'
.modal-footer
  %button.btn.btn-secondary{ type: "button", data: { "bs-dismiss": "modal" } } Close