#animals_container
  %h1 Animals

  .btn-group
    = link_to 'All Animals', animals_path, class: "btn btn-outline-primary #{'active' if @showing == 'both'}", data: {toggle: 'tooltip'}, title: "Click to list all animals"
    = link_to 'Active Animals', animals_path(only_active: true), class: "btn btn-outline-primary #{'active' if @showing == 'active'}", data: {toggle: 'tooltip'}, title: "Click to list only active animals"
    = link_to 'Archived Animals', animals_path(only_archived: true), class: "btn btn-outline-primary #{'active' if @showing == 'archived'}", data: {toggle: 'tooltip'}, title: "Click to list only archived animals"
  %br
  %br
  = link_to 'New Animal', new_animal_path, class: "btn btn-success", data: { turbo_frame: "modal" }

  %table.table.table-hover
    %thead.thead-light
      %tr
        %th Name
        %th Species
        %th Birth date
        %th Active?
        %th Actions

    %tbody
      - @animals.each do |animal|
        = render partial: 'animals/animal_row', locals: { animal: animal }
