%h1 Animals

= link_to 'All Animals', animals_path, class: 'btn btn-secondary'
= link_to 'Active Animals', animals_path(only_active: true), class: 'btn btn-primary'
= link_to 'Archived Animals', animals_path(only_archived: true), class: 'btn btn-warning'

%table.table.table-hover
  %thead.thead-light
    %tr
      %th Name
      %th Species
      %th Birth date
      %th Active?
      %th{ colspan: "4" } Actions

  %tbody
    - @animals.each do |animal|
      %tr{ data: { url: animal_path(animal) }}
        %td.clickable_row{ style: 'cursor: pointer;', data: { toggle: "tooltip" }, title: "View #{animal.name}'s details" }= animal.name
        %td.clickable_row{ style: 'cursor: pointer;', data: { toggle: "tooltip" }, title: "View #{animal.name}'s details" }= animal.species
        %td.clickable_row{ style: 'cursor: pointer;', data: { toggle: "tooltip" }, title: "View #{animal.name}'s details" }= animal.birth_date
        %td.clickable_row{ style: 'cursor: pointer;', data: { toggle: "tooltip" }, title: "View #{animal.name}'s details" }= animal.active ? 'Active' : 'Archived'
        %td= link_to 'Edit', edit_animal_path(animal), class: "btn btn-warning btn-sm", title: "Edit #{animal.name}", data: {toggle: "tooltip"}
        %td= link_to 'View Diet', animal_diet_path(animal), class: 'btn btn-info btn-sm', title: "View #{animal.name}'s Diet Plan", data: {toggle: "tooltip"}
        -  if animal.active?
          %td= button_to 'Archive', animal, method: :delete, form: { data: { turbo_confirm: "Are you sure you want to archive #{animal.name}?" } }, class: "btn btn-danger btn-sm", title: "Archive #{animal.name}", data: {toggle: "tooltip"}
        - else
          %td= button_to 'Restore', restore_animal_path(animal), method: :patch, form: { data: { turbo_confirm: "Are you sure you want to restore #{animal.name}?" } }, class: "btn btn-success btn-sm", title: "Restore #{animal.name}", data: {toggle: "tooltip"}

%br

= link_to 'New Animal', new_animal_path, class: "btn btn-success"
