= turbo_frame_tag "modal" do
  = bootstrap_form_for(@food, label_errors: true) do |f|
    .modal-header
      %h5.modal-title= "Editing #{@food.name}"
      %button.btn-close{ type: "button", data: { "bs-dismiss": "modal" }, aria: { label: "Close" } }
    .modal-body
      = f.text_field :name
      = f.text_field :supplier
      = f.text_field :storage_location
      = f.check_box :treat, switch: true
    .modal-footer
      %button.btn.btn-secondary{ type: "button", data: { "bs-dismiss": "modal" } } Close
      = f.primary 'Save'
