!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Zapp"
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{href: "/manifest.json", rel: "manifest"}/
    %link{href: "/icon.png", rel: "icon", type: "image/png"}/
    %link{href: "/icon.svg", rel: "icon", type: "image/svg+xml"}/
    %link{href: "/icon.png", rel: "apple-touch-icon"}/
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags

  %body
    .container-fluid
      / Top Navbar
      %nav.navbar.navbar-expand-lg.navbar-light.bg-light
        = link_to "CTL Animal Forest", root_path, class: "navbar-brand"
        %button.navbar-toggler{ type: "button", data: { bs_toggle: "collapse", bs_target: "#navbarNav" }, aria_controls: "navbarNav", aria_expanded: "false", aria_label: "Toggle navigation" }
          %span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          %ul.navbar-nav.ms-auto
            %li.nav-item
              = link_to "Home", root_path, class: "nav-link"
            %li.nav-item
              = link_to "TBD", '', class: "nav-link disabled"
            %li.nav-item
              = link_to "TBD", '', class: "nav-link disabled"

      .row
        / Left Sidebar
        .col-md-2.bg-light
          %div.d-flex.flex-column.p-3.sidebar
            %h5 Admin Controls:
            %ul.nav.nav-pills.flex-column
              %li.nav-item
                = link_to "Daily Dashboard", '', class: "nav-link disabled"
              %li.nav-item
                = link_to "Animals", animals_path, class: "nav-link"
              %li.nav-item
                = link_to "Foods", foods_path, class: "nav-link"
              %li.nav-item
                = link_to "Medications", '', class: "nav-link disabled"

        / Main Content Area
        .col-md-10
          %main.container.mt-4
            .modal.fade{id: "bs_modal", tabindex: "-1"}
              .modal-dialog
                .modal-content
                  = turbo_frame_tag "modal"

            = yield
